.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.post-wrapper {
    max-width: 310px;
    height: 430px;
}

.post-info {
    position: absolute;
    bottom: 0;
    width: 95%;
}

