.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 40vh;
}

.post-wrapper {
    max-width: 310px;
    height: 410px;
}

.more-posts {
    display: inline-block;
}