@font-face {
    font-family: griffon;
    src: url(../fonts/Griffon-Regular.otf) format('truetype');
  }

@font-face {
    font-family: merri;
    src: url(../fonts/Merriweather-Regular.ttf) format('truetype');
  }


body {
    background-color: #F3F3F3;
    font-family: griffon;
    margin: 0;
    min-width: 260px;
    
}

p {
    font-family: merri;
    color: #444444;
}

h1 {
    color: black;
    text-align: center;
}

h2, h3, label {
    color: #444444;
}

main {
    max-width: 1000px;
    margin: 50px auto;
}

.header-img {
    box-sizing: b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    max-height: 200px;
}

.carusel {
    min-height: 550px;
    position: relative;
}

.header-img img {
    width: 100%;
    
}

.header-menu {
    position: absolute;
    transition: 0.2s ease-in-out;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.175);
    height: 60px;
    overflow: hidden;
    z-index: 99;
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 12px;
}

.top-header {
    height: 60px;
    position: relative;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 31px;
    height: 100%;
    margin-left: 10px;
    width: max-content;
}

.hamburger {
    position: absolute;
    right: 10px;
    top: 15px;
}

.header-menu ul{
    height: 75%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
}

.header-menu li {
    display: block;
}

.header-menu a {
    text-decoration: none;
    color: black;
    position: relative;
}

.header-menu ul a:after {
    display: none;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #0ADD00;
} 

.header-menu ul a:hover:after {
    display: block;
}

#active:after {
    display: block;
}



.loading {
    width: 15px;
    height: 15px;
    border-left: 3px solid #0ADD00;
    border-top: 3px solid #0ADD00;
    border-radius: 50% ;
    animation: spin 2s linear infinite;
}

.big_load {
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-left: 5px solid #0ADD00;
    border-top: 5px solid #0ADD00;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.cta {
    font-family: griffon;
    width: 200px;
    height: 50px;
    margin: auto;
    text-decoration: underline;
    background-color: white;
    color: #444444;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
    border: none;
}


.cta:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

.cta:active {
    box-shadow: none
}

figcaption {
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}

.top {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    position: absolute;
    bottom: 15px;
    width: 95%;
    max-width: 400px;
}

.search-icon {
    position: absolute;
    background-image: url(../images/Search_icon_green.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 28px;
    width: 50px;
    background-color: #212121;
    border-radius: 25px;
    bottom: 3px;
    right: 4px;
    border: 2px solid #707070;
}


.search-bar  input{
    height: 40px;
    width: 100%;
    border-radius: 25px;
    transition: 0.2s;
    padding: 10px;
    padding-right: 65px;
    box-sizing: border-box;
    font-family: griffon;
    background-color: #707070;
    color: white;
    border: 2px solid #212121;
    outline: none;
}

.search-bar  input::placeholder {
    color: #B9B9B9;
}

.search-bar  input:focus {
    width: 100%;
    border: 2px solid #0ADD00;
}

.no-search-resoult {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

footer {
    background-color: #212121;
    min-height: 150px;
    margin-top: 25px;
}