.wrapper {
    width: 100%;
}


.carusel-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 55px;
}

.post-wrapper {
    display: grid;
    justify-content: space-between;
    width: 270px;
    height: 410px;
}

.focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
    padding: 20px;
}

.post-wrapper .read-more:hover {
    text-decoration: underline;
    text-decoration-color: #0ADD00;
}



.left-arrow, .right-arrow {
    position: absolute;
    height: 56px;
    width: 52px;
    background-image: url(../images/right-arrow-gray.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}


.right-arrow {
    right: 0;
    bottom: 50%;
}

.left-arrow {
    rotate: 180deg;
    left: 0;
    bottom: 50%;
}

.left-arrow:hover, .right-arrow:hover {
    opacity: 1;
    cursor: pointer;
}