.wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

main {
    padding: 10px;
    box-sizing: border-box;
}

.post-content {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.post-content figure:first-of-type {
    display: none;
}

.post-content figure {
    width: 100%;
    padding: 0;
    margin: 0;
}

.post-content figure img {
    width: 100%;
    height: auto;
    
}

.post-content p:first-of-type:first-letter, .post-content h2 + p:first-letter, .post-content h2 + figure + p:first-letter{
    font-size: 18px;
    font-weight: bold;
  }


.comments-wrap {
    display: grid;
    gap: 10px;
}

.comments {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    margin: auto;
}

.profile {
    display: flex;
    width: 100%;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comments p:nth-child(n+2)  {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    margin-left: 50px;
}

.comment-form {
    display: grid;
    gap: 10px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 10px;
    
}

#name, #email {
    height: 40px;
    font-family: griffon;
    font-size: larger;
    outline-color: #0ADD00;
    width: 100%;
}

form textarea {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: merri;
    outline-color: #0ADD00;
    width: 100%;
    
}

.sendt-msg {
    display: none;
}

.sub-button {
    display: grid;
}

.carusel {
    min-height: 0;
    height: 30vh;
}

@media (min-width: 900px) {
    .carusel {
        min-height: 550px;
        height: 30vh;
    }
}

.post-content figure:not(:first-of-type){
    cursor: pointer;
}

.focus-img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.904);
    z-index: 99;
    display: grid;
    justify-content: center;
    align-content: center;
}

.focus-img img {
    width: 100%;
    max-width: 1200px;
}